<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1>Edit Your Scribe</h1>
    <h2><%= scribe.title %></h2>
    <div>
        <form action="http://localhost:8080/home/<%= scribe.id %>?_method=PATCH" method="post">
            <textarea rows="20" name="description" > <%= scribe.description %></textarea>
            <button>Update</button>  
        </form>
    </div>
</body>
</html>