<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See more</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class="box">
        <div id="nav">
            <h1>DailyScribe</h1>
            <h3>Capture your day, every day</h3>
        </div>
        <h2><%= scribe.title %></h2>
        <p> <%= scribe.description %></p>
        <h3><%= scribe.date %></h3>
    </div>
</body>
</html>